{% include '/main.html' %}
{% block content %}
{% if session.user_type in ['admin'] %}
<div class="add">
    <h1 class="add-this">Add a course</h1>
    <p>fill in the information below</p>
    <form action="/add_course" method="POST">
        <div><input type="text" name="course_name" placeholder="course name"></div>
      <div><input type="text" name="course_description" placeholder="course description"></div><br>
        <div><input type="submit" name="submit"></div>
    </form>
</div>
{% else %}
<p>Access Denied</p>
{% endif %}
{% endblock %}
