{% include '/main.html' %}
{% block content %}
<div class="assign_teacher">
    <h1 class="add-this">assign a teacher to a course</h1>

    <form action="/assign_teacher" method="post">
        <label for="teacher_name">Select teacher:</label>
        <select name="teacher_name" id="teacher_select">
            {% for teacher in teachers %}
            <option value="{{ teacher[0] }}">{{ teacher[0] }}</option>
            {% endfor %}
        </select>
    <br>
        <label for="course_name">Select Course:</label>
        <select name="course_name" id="course_select">
            {% for course in courses %}
            <option value="{{ course[0] }}">{{ course[0] }}</option>
            {% endfor %}
        </select>
    
        <input type="hidden" name="teacher_id" id="teacher_id">
        <input type="hidden" name="course_id" id="course_id">
    <br>
        <button type="submit">Assign</button>
    </form>
</div>

{% endblock %}