<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar-main">
        <a href="/attendance">attendance</a><br>
    </div>
    <br>
    <div>
        <a href="/python_attend">python</a><br>
        <a href="/java_attend">java</a><br>
        <a href="/html_attend">html</a><br>
        <a href="/javascript_attend">javascript</a><br>
        <a href="/css_attend">css</a>
    </div>
</body>
</html>
