{% include '/main.html' %}

{% block content %}
<div class="center-list">
    <h6>Course List</h6>
    <form action="/course_list" method="get">
        <table class="course-table">
            <tr>
                <th>Course Name</th>
                <th>Course Description</th>
            </tr>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}

