{% include '/main.html' %}
{% block content %}

    <div class="login">
            <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
       <p><input type="text" name="username" placeholder="username"></p>
        <p><input type="text" name="password" placeholder="password"></p>
        <p class="submit"><input name="button" type="submit" value="login" placeholder="login"></p>
        <p class="link">new user? click here <a href="{{ url_for('new_user') }}">register</a></p>
    </form>
</div>
{% endblock %}