<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/static/main.css">
    <header class="header">
        <h1>home page</h1>
    </header>
</head>
<body>
    <div class="sidenav">
        <a href="/main">home page</a>
        <a href="/new_user">registration page</a>
        <a href="/add_course">add course</a>
        <a href="/course_list">course list</a>
        <a href="/login">login page</a>
    </div>
</body>
</html>