{% include '/main.html' %}

{% block content %}
<div class="new_user">
    <h1>Register here!</h1>
    <form action="new_user" method="POST">
        <p><input type="text" name="user_name" placeholder="username"></p>
        <p><input type="text" name="pass_word" placeholder="password"></p> 
        <p>
            user types: 
            <select name="user_type">
                {% for type in types %}
                <option value="{{ type[0] }}">{{ type[0] }}</option>
                {% endfor %}
            </select>
        </p>
        <p class="submit"><input name="button" type="submit"></p>
    </form>
</div>
{% endblock %}
