<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/python_attend.css">
    <title>python class</title>
</head>
<body>
    <div class="navbar-main">
        <a href="/attendance">go back</a>
    </div>
    <h1>attendance for python course</h1>
    <p>student-name</p>
    {% for name, attend in python_attend.items() %}
    <form action="/python_attend" method="POST">
<label class="student">
        {{ name }}
    </label>
    <input type="hidden" name="name" value="{{ name }}">
    <input type="radio" name="attendance" value="yes" {% if attend == "yes" %}checked{% endif %}>Yes
    <input type="radio" name="attendance" value="no" {% if attend == "no" %}checked{% endif %}>No    
    <button type="submit">Set</button>
</form>
    {% endfor %}
</body>
</html>